<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.plasticlove.weixinsell.dao.ProductCategoryDao">
    <sql id="base_column">
        category_id, category_name, category_type, create_time, update_time
    </sql>
    <!--select ProductCategoryEntity by id-->
    <select id="getCategoryById" resultType="cn.plasticlove.weixinsell.entity.ProductCategoryEntity">
        select
        <include refid="base_column"></include>
        from product_category
        where category_id = #{categoryId}
    </select>
</mapper>